.env
.env.*
staticfiles/
__pycache__/
*.pyc
venv/
*.sqlite3
*.db
*.log
*.txt
test_output*
test_results*
test_*
*_debug*
*_screenshot*
*_audit*
*_audit_log*
*_farm_mgmt*
*_public_pages*
*_screenshots*
*_test*
*_check*
*_verify*
*_fix*
*_final*
*_mobile*
*_desktop*
*_tablet*
*_375*
*_768*
*_1200*
*_992*
*_767*
*_991*
*_600*
*_480*
*_320*
screenshot_*
save_screenshot*
take_*
inspect_*
run_*
set_*
load_*
create_*
add_*
check_*
verify_*
debug_*
audit_*
final_*
fix_*
update_*
manual_tests/
typography_audit_*/
.kilo/
ngrok/
cookies.txt
default_*.sqlite3
db.sqlite3